var new_comment = $( "<%= escape_javascript(render(:partial => @comment)) %>" ).hide();  <!-- First render the comment and hide the New Comment block. Note: Written using jquery --> 
$('#comments').prepend(new_comment);					<!-- Prepend the new comment added to the existing comments -->
$('#comment_<%= @comment.id %>').fadeIn('slow');		<!-- Show the newly added comment in slow motion -->
$('#new_comment')[0].reset();							<!-- Reset the new comment text area and show it>